* {
  box-sizing: border-box;
  font-family: "Candara", sans-serif;
}
.view {
  margin: 100px auto;
  width: 1275px;
}

.textarea {
  width: 100%;
  height: 150px;
  font-size: 24px;
  resize: none;
}

.keyboard {
  width: 100%;
  background-color: aqua;
}

.button, .long_button, .space {
  display: inline-block;
  position: relative;
  margin: 5px;
  width: 75px;
  height: 75px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
  line-height: 68px;
  box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.75);
  cursor: pointer;
  user-select: none;
  transition: all, 0.2s;
}

.button::before,
.long_button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 71px;
  height: 71px;
}

.long_button::before {
  width: 156px;
}

.pressed {
  box-shadow: inset 2px 2px 2px 1px rgba(0,0,0,0.75);
  border-radius: 36.5px;
  background-color: lightseagreen;
}

.long_button {
  position: relative;
  width: 160px;
  height: 75px;
}

#CapsLock::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}

#CapsLock.on::after {
  background-color: lawngreen;
}

.space {
  width: 585px;
  height: 75px;
}

#Backspace::before {
  background: url(img/backspace.png) center no-repeat;
  background-size: 40%;
}

#ArrowUp::before {
  background: url(img/up.png) center no-repeat;
}

#ArrowDown::before {
  background: url(img/down.png) center no-repeat;
}

#ArrowLeft::before {
  background: url(img/left.png) center no-repeat;
}

#ArrowRight::before {
  background: url(img/right.png) center no-repeat;
}

#Enter::before {
  background: url(img/enter.png) center no-repeat;
  background-size: 30%;
}

#Tab::before {
  background: url(img/tab.png) center no-repeat;
  background-size: 40%;
}

#Delete::before {
  background: url(img/delete.png) center no-repeat;
  background-size: 50%;
}

#ShiftRight::before,
#ShiftLeft::before {
  background: url(img/shift.png) center no-repeat;
  background-size: 30%;
}

#ControlRight::before,
#ControlLeft::before {
  background: url(img/ctrl.png) center no-repeat;
}

#AltRight::before,
#AltLeft::before {
  background: url(img/alt.png) center no-repeat;
}

#CapsLock::before {
  background: url(img/capslock.png) center no-repeat;
  background-size: 35%;
}

#MetaLeft::before {
  background: url(img/win.png) center no-repeat;
}
